@font-face {
    font-family: "Logo";
    src: url("mcLogo.ttf") format("truetype");
}

@font-face {
    font-family: "Text";
    src: url("mcText.otf") format("opentype");
}

body {
    text-align: center;
    position: relative;
}
n {
font-family: "Text", sans-serif;
  font-size: 30px;
}

h1 {
  font-family: "Logo", sans-serif;
  font-size: 120px;
}
#dirt-background {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-image: url("dirt.png");
    background-repeat: repeat-y;
    background-size: 100% auto;

    z-index: -1;
    pointer-events: none;
}
