@font-face {
    font-family: "Logo";
    src: url("mcLogo.ttf") format("truetype");
}

@font-face {
    font-family: "Text";
    src: url("mcText.otf") format("opentype");
}

body {
    color: white;
    text-align: center;
    position: relative;
}
n {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    
    background: rgba(0, 0, 0, 0.25);
font-family: "Text", sans-serif;
  font-size: 30px;
}

h1 {
    text-shadow:
    -4px -4px 0 #000,
     0px -4px 0 #000,
     4px -4px 0 #000,
    -4px  0px 0 #000,
     4px  0px 0 #000,
    -4px  4px 0 #000,
     0px  4px 0 #000,
     4px  4px 0 #000;
    
  color: #AAAAAA;
  font-family: "Logo", sans-serif;
  font-size: 120px;
}
#dirt-background {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-image: url("dirt.png");
    background-repeat: repeat-y;
    background-size: 100% auto;

    z-index: -1;
    pointer-events: none;
}
